extends layout

block content
  header#banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
          small &nbsp; Find places to work with wifi near you!
  main
    section.row
      .col-xs-12.col-sm-8
        .row-list-group
          .col-xs-12.list-group-item.card.shadow-1
            h4
              a(href="/location") Starcups
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 100m
            p.address 125 High Street, Reading, RG6 1PS
            ul.tags
              li 
                span.label.label-warning Hot drinks
              li
                span.label.label-warning Food
              li
                span.label.label-warning Premium wifi
      aside.col-xs-12.col-sm-4
        p.lead Loc8r helps you find places to work when out and about.
